
.button_validate {
  background: #2cbd0b;
  background-image: -webkit-linear-gradient(top, #2cbd0b, #2cbd0b);
  background-image: -moz-linear-gradient(top, #2cbd0b, #2cbd0b);
  background-image: -ms-linear-gradient(top, #2cbd0b, #2cbd0b);
  background-image: -o-linear-gradient(top, #2cbd0b, #2cbd0b);
  background-image: linear-gradient(to bottom, #2cbd0b, #2cbd0b);
  -webkit-border-radius: 2;
  -moz-border-radius: 2;
  border-radius: 2px;
  font-family: Arial;
  color: #ffffff;
  font-size: 18px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;

}

.button_validate:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}


.button_previous {
  background: #0373e3;
  background-image: -webkit-linear-gradient(top, #0373e3, #0373e3);
  background-image: -moz-linear-gradient(top, #0373e3, #0373e3);
  background-image: -ms-linear-gradient(top, #0373e3, #0373e3);
  background-image: -o-linear-gradient(top, #0373e3, #0373e3);
  background-image: linear-gradient(to bottom, #0373e3, #0373e3);
  -webkit-border-radius: 2;
  -moz-border-radius: 2;
  border-radius: 2px;
  font-family: Arial;
  color: #ffffff;
  font-size: 18px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;

}

.button_previous:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

#progress{
    width: 300px;
    margin: auto;
}
progress{
    display: inline-block;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
    width: 300px;
    height: 50px;
    padding: 3px 3px 2px 3px;
    background: #333; 
    background: -webkit-linear-gradient(#2d2d2d,#444);
    background:    -moz-linear-gradient(#2d2d2d,#444);
    background:      -o-linear-gradient(#2d2d2d,#444);
    background:         linear-gradient(#2d2d2d,#444);
    border: 1px solid rgba(0,0,0,.5);
    border-radius: 15px;
    box-shadow: 0 1px 0 rgba(255,255,255,.2);   
}



/* Style de la barre pour Firefox*/
progress::-moz-progress-bar{
    border-radius:10px;
    background: #09c;
    background: 
      -moz-repeating-linear-gradient(
        45deg, 
        rgba(255,255,255,.2) 0,
        rgba(255,255,255,.2) 10px, 
        rgba(255,255,255,0) 10px,
        rgba(255,255,255,0) 20px
      ),
      -moz-linear-gradient(
        rgba(255,255,255,.1) 50%,
        rgba(255,255,255,0) 60%
      ),
      #09c;
    background: 
      repeating-linear-gradient(
        45deg, 
        rgba(255,255,255,.2) 0,
        rgba(255,255,255,.2) 10px, 
        rgba(255,255,255,0) 10px,
        rgba(255,255,255,0) 20px
      ),
      linear-gradient(
        rgba(255,255,255,.1) 50%,
        rgba(255,255,255,0) 60%
      ),
      #09c;
    background-size: 300px 20px, auto, auto;
    background-position: -300px 0, top, top;
    background-position: top right, top, top;
    box-shadow: 0 1px 0 rgba(255,255,255,.5) inset, 
                0 -1px 0 rgba(0,0,0,.8) inset,
                0 0 2px black;
  
}

/* Style de la barre pour Chrome*/
progress::-webkit-progress-value{
   
    /* Code identique mais avec les bons préfixes! */

}


.progress-bar {
    margin: 10px;
    height: 10px;
    width: 100%;
    overflow: hidden;
}
.progress-bar span.core {
    display: block;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    background-attachment: scroll;
    background-color: #CCCCCC;
    background-image: linear-gradient(315deg, transparent, transparent 33%, rgba(0, 0, 0, 0.12) 33%, rgba(0, 0, 0, 0.12) 66%, transparent 66%, transparent);
    background-repeat: repeat-x;
    background-size: 20px 10px;
    height: 100%;
    width: 100%;
    animation: animatedBackground 30s linear infinite;
}
@keyframes animatedBackground {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 100% 0;
    }
}


#main2{
    padding: 35px 20px 0 20px;
}
#controls{
    text-align: center;
}

body {
    padding:10px;
}

.cdd{
    color: red ; 
}

#add{
    border: 1px 1px 1px 1px ; 
}

.done-true {
  text-decoration: line-through;
  color: grey;
}



.visuallyhidden {
    display: none;
}

.wizard-progress {
    list-style: none;
    list-style-image: none;
    margin: 0;
    padding: 0;
    margin-top: 20px;
    float: left;
    white-space: nowrap;
}

.wizard-progress li {
    float: left;
    margin-right: 60px;
    text-align: center;
    position: relative;
    width: 100px;
}

.wizard-progress .step-name {
    display: table-cell;
    height: 32px;
    vertical-align: bottom;
    text-align: center;
    width: 100px;
}

.wizard-progress .step-name-wrapper {
    display: table-cell;
    height: 100%;
    vertical-align: bottom;
}

.wizard-progress .step-num {
    font-size: 16px;
    border: 1px solid #000;
    padding:5px ; 
    border-radius: 50%;
    width: 20px;
    display: inline-block;
    margin-top: 10px;
}

.wizard-progress .step-num:after {
    content: "";
    display: block;
    background: #000;
    height: 5px;
    width: 130px;
    position: absolute;
    bottom: 14px;
    left: 64px;
}


.active-step{
  color:#E16A0C ; 
}
.wizard-progress li:last-of-type .step-num:after {
    display: none;
}

.wizard-progress .active-step .step-num {
    background-color: #055A8E;
    color:white ; 
}
